:host {
    --green: #8AC6BF;
    --darkGreen: #619a94;
}

@font-face {
    font-family: 'raleway';
    src: url('/resource/ASSETS/ASSETS/Raleway-Regular.ttf') format('TrueType');
}

*{
    margin: 0 auto;
    padding: 0;
    font-family: 'raleway';
    font-size: 0.938rem;
}

.container {
    margin-top: 8%;
}

.main-icon {
    display: flex;
}

.title {
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    margin: 20px 0;
}

.error-message{
    color: red;
}

.backContainer {
    margin-top: 20px;
    align-items: center;
}

.backBtn{
    color: black;
}

.backBtn:hover,
.icon-tabler-arrow-left:hover {
    cursor: pointer;
    color: rgb(69, 187, 245);
}

.btncontinue{
    background-color: var(--green);
    border: none;
    color: white;
    border-radius: 4px;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
}

.btncontinue:hover{
    background-color: var(--darkGreen);
}

lightning-layout-item{
    width: 80%;
}

@media only screen and (min-width:900px){
    lightning-layout-item{
        width: 60%;
    }
}

@media only screen and (min-width:1200px){
    lightning-layout-item{
        width: 40%;
    }
}