:host {
  --green: #8AC6BF;
  --darkGreen: #619a94;
  --lwc-fontFamily: 'Ek Mukta';
}

@font-face {
  font-family: 'raleway';
  src: url('/resource/ASSETS/ASSETS/Raleway-Regular.ttf') format('TrueType');
}

*{
  padding: 0;
  margin: 0 auto;
  font-family: 'raleway', 'Ek Mukta';
  font-size: 0.938rem;
  background-color: white;
}